.main {
  @extend %container;
  font-family: $font-open;
  background: $color-light;

  &-thoughts {
    width: 100%;
    text-align: center;
    position: relative;

    &__head {
      font-size: 20px;
      line-height: 32px;
      padding-top: 17px;
    }

    &__title {
      font-family: $font-manrope;
      font-style: normal;
      font-weight: 400;
      font-size: 64px;
      padding-top: 10px;
      letter-spacing: 0.1px;
    }

    &__card {
      display: flex;
      text-align: start;
      column-gap: 100px;
      padding-top: 65px;

      &-text {
        padding-top: 69px;
        font-size: 16px;
        line-height: 28px;
        color: $color-black;
        width: 100%;

        span {
          font-weight: 700;
          font-size: 16px;
          line-height: 28px;
          color: $color-black;
          padding-right: 11px;
          letter-spacing: 0.8px
        }

        p {
          display: block;
          font-family: $font-manrope;
          color: $color-black;
          font-size: 48px;
          line-height: 72px;
          margin: 13px 0 0 0;
          width: 100%;
          letter-spacing: 0;
        }

        div {
          column-gap: 12px;
          display: flex;
          align-items: center;
          padding-top: 20px;
        }
      }

      &-img {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

    &__line {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -8.1vh;
      background: $color-black;
    }
  }

  &-latest {
    width: 83.5%;
    margin: 164px auto 122px auto;

    &__title {
      font-family: $font-manrope;
      font-style: normal;
      letter-spacing: 0.4px;
      font-weight: 400;
      font-size: 48px;
      line-height: 72px;
      margin: 0;
    }

    &__cards {
      display: grid;
      column-gap: 50px;
      row-gap: 82px;
      grid-template-areas:
        "p1 p2 p3"
        "p4 p5 p6";
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 50.1vh);
    }

    &__card:nth-of-type(1) {
      grid-area: p1;
    }

    &__card:nth-of-type(2) {
      grid-area: p2;
    }

    &__card:nth-of-type(3) {
      grid-area: p3;
    }

    &__card {
      height: 100%;
      padding-top: 40px;
      position: relative;

      &-text {
        color: $color-gray;
        padding-top: 19px;
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        position: relative;

        span {
          font-weight: 700;
          font-size: 16px;
          line-height: 28px;
          color: $color-black;
          padding-right: 13px;
          letter-spacing: 0.8px
        }

        p {
          color: $color-black;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 32px;
          margin: 13px 0 0 0;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

      }

      &-img {
        img {
          width: 100%;
        }
      }
      &-author {
        color: $color-black;
        column-gap: 12px;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
      }
    }


    &__button {
      padding-top: 138px;
      text-align: center;


      button {
        background: $color-light;
        padding: 16px 58px;
        gap: 8px;
        border: 2px solid $color-black;
        border-radius: 56px;
        font-family: $font-open;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  &-template {
    background: $color-black;
    width: 100%;
    height: 391px;
    position: relative;
    border-radius: 12px;
    z-index: 1;


    &__title {
      font-family: $font-manrope;
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 72px;
      max-width: 716px;
      margin: auto;
      padding-top: 70px;
      letter-spacing: 0;
      display: flex;
      align-items: center;
      text-align: center;
      color: $color-light;
    }

    &__form {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 44px 0 0;
      column-gap: 20px;

      input {
        width: 30.4%;
        height: 56px;
        border: 2px solid $color-light;
        border-radius: 240px;
        font-family: $font-open;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: $color-black;
      }

      input::-webkit-input-placeholder {
        padding-left: 32px;
      }

      input::-moz-placeholder {
        padding-left: 32px;
      }

      input:-moz-placeholder {
        padding-left: 32px;
      }

      input:-ms-input-placeholder {
        padding-left: 32px;
      }

      button {
        width: 18%;
        height: 62px;
        background: $color-green;
        border: 2px solid #65E4A3;
        border-radius: 56px;
        font-family: $font-open;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
      }
    }

    img {
      z-index: -1;
      position: absolute;
      border-radius: 12px;
      top: 0;
      right: 0;
    }
  }
}

@media (max-width: 1350px) {
  .main-thoughts__card-text {
    padding-top: 10px;
  }
}

@media (max-width: 1200px) {
  .main {
    &-latest {
      &__title {
        font-size: 42px;
      }
    }

    &-thoughts {
      &__card {
        column-gap: 55px;

        &-text {
          padding-top: 5px;

          p {
            font-size: 42px;
            line-height: 60px;
          }
        }
      }
    }

    &-template {
      &__title {
        font-size: 42px;
      }
    }

    &-latest {
      margin: 130px auto 90px auto;
      width: 100%;

    }
  }
}

@media (max-width: 1024px) {
  .main {
    padding: 50px 50px 0;

    &-thoughts {
      &__card {
        &-text p {
          font-size: 36px;
          line-height: 42px;
        }
      }
    }

    &-latest {
      margin: 110px auto 80px auto;

      &__button {
        padding-top: 145px;

        button {
          font-size: 18px;
        }
      }

      &__card-text {
        p {
          font-size: 18px;
        }
      }
    }

    &-template {
      &__title {
        font-size: 36px;
        line-height: 60px;
      }

      &__form {
        input {
          width: 40%;
          height: 50px;
          font-size: 18px;
        }

        button {
          width: 40%;
          height: 55px;
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 910px) {
  .main {
    &-thoughts {
      &__title {
        font-size: 50px;
      }
    }

    &-latest {
      margin: 110px auto 80px auto;

      &__button {
        padding-top: 130px;
      }
    }
  }
}

@media (max-width: 768px) {
  .main {
    padding: 15px 40px 0;

    &-thoughts {
      &__title {
        font-size: 42px;
      }

      &__card {
        padding-top: 40px;

        &-text {
          font-size: 14px;

          span {
            font-size: 14px;

          }

          p {
            font-size: 30px;
            line-height: 35px;
          }
        }
      }
    }

    &-latest {
      margin: 110px auto 50px auto;

      &__title {
        font-size: 30px;
      }

      &__cards {
        display: grid;
        column-gap: 50px;
        row-gap: 70px;
        grid-template-areas:
          "p1 p2"
          "p3 p4"
          "p5 p6";
        grid-template-columns: repeat(2, 1fr);
      }

      &__button {
        padding-top: 110px;
      }

      &__card {
        &-text {
          font-size: 14px;

          span {
            font-size: 14px;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }

    &-template {
      height: 350px;

      &__title {
        font-size: 30px;
        line-height: 50px;
        padding-top: 55px;
      }

      &__form {
        flex-direction: column;
        row-gap: 20px;


        input {
          width: 70%;
          height: 40px;
          font-size: 14px;
        }

        button {
          width: 70%;
          height: 45px;
          font-size: 14px;
        }
      }

      img {
        display: none;
      }
    }
  }
}


@media (max-width: 580px) {
  .main {
    &-thoughts {
      &__card {
        flex-direction: column;
        padding-top: 30px;

        &-text {
          text-align: center;

          p {
            font-size: 24px;
          }
        }
      }

      &__title {
        font-size: 32px;
      }

    }

    &-latest {
      &__title {
        font-size: 24px;
      }

      &__card {
        padding: 0;

      }
    }

    &-template {
      &__title {
        font-size: 24px;
        line-height: 42px;
      }
    }
  }
}



@media (max-width: 390px) {
  .main {
    padding: 15px 30px 0;

    &-thoughts {
      &__title {
        font-size: 24px;
      }

      &__card {
        &-text {
          p {
            font-size: 18px;
          }
        }
      }

    }

    &-latest {
      &__title {
        font-size: 18px;
      }

      &__cards {
        display: grid;
        column-gap: 50px;
        row-gap: 50px;
        grid-template-areas:
          "p1"
          "p2"
          "p3"
          "p4"
          "p5"
          "p6";
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 420px);
      }

    }

    &-template {
      &__title {
        font-size: 18px;
      }
    }

  }
}

@media (max-width: 320px) {
  .main {
    &-thoughts {
      &__line {
        bottom: -4.1vh;
      }
    }

    &-latest {
      margin: 40px auto 40px auto;


      &__button {
        padding-top: 85px;

        button {
          padding: 10px 58px
        }
      }
    }
  }
}

