.main {
  @extend %container;
  font-family: $font-open;
  background: $color-light;

  &-thoughts {
    width: 100%;
    text-align: center;

    &__head {
      font-size: 20px;
      line-height: 32px;
      padding-top: 15px;
    }

    &__title {
      font-family: $font-manrope;
      font-style: normal;
      font-weight: 400;
      font-size: 64px;
      padding-top: 10px;
      letter-spacing: 0.1px;
    }

    &__card {
      display: flex;
      text-align: start;
      column-gap: 100px;
      padding-top: 66px;

      &-text {
        padding-top: 69px;
        font-size: 16px;
        line-height: 28px;
        color: $color-gray;
        width: 100%;

        span {
          font-weight: 700;
          font-size: 16px;
          line-height: 28px;
          color: $color-black;
          padding-right: 15px;
        }

        p {
          display: block;
          font-family: $font-manrope;
          color: $color-black;
          font-size: 48px;
          line-height: 72px;
          margin: 13px 0 0 0;
          display: block;
          width: 100%;
          letter-spacing: 0;
        }

        div {
          column-gap: 12px;
          display: flex;
          align-items: center;
          padding-top: 18px;
        }
      }

      &-img {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }

  &-thoughts::after {
    content: '';
    position: absolute;
    width: 86%;
    height: 1px;
    left: 100px;
    top: 824px;
    background: $color-black;
  }

  &-latest {
    width: 83.5%;
    margin: 165px auto 120px auto;

    &__title {
      font-family: $font-manrope;
      font-style: normal;
      letter-spacing: 0.4px;
      font-weight: 400;
      font-size: 48px;
      line-height: 72px;
      margin: 0;
    }

    &__cards {
      display: grid;
      column-gap: 50px;
      row-gap: 93px;
      grid-template-areas:
        "p1 p2 p3"
        "p4 p5 p6";
      grid-template-columns: repeat(3, 1fr);
    }

    &__card:nth-of-type(1) {
      grid-area: p1;
    }

    &__card:nth-of-type(2) {
      grid-area: p2;
    }

    &__card:nth-of-type(3) {
      grid-area: p3;
    }

    &__card {
      height: 100%;
      padding-top: 38px;
      max-height: 424px;

      &-text {
        padding-top: 21px;
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        color: $color-gray;
        position: relative;
        height: 46%;

        span {
          font-weight: 700;
          font-size: 16px;
          line-height: 28px;
          color: $color-black;
          padding-right: 16px;
        }

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 32px;
          color: $color-black;
          margin: 13px 0 0 0;
        }

        div {
          column-gap: 12px;
          display: flex;
          align-items: center;
          position: absolute;
          bottom: 0;
        }
      }

      &-img {
        img {
          width: 100%;
        }
      }
    }


    &__button {
      padding-top: 146px;
      text-align: center;


      button {
        background: $color-light;
        padding: 16px 56px;
        gap: 8px;
        border: 2px solid $color-black;
        border-radius: 56px;
        font-family: $font-open;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  &-template {
    background: $color-black;
    width: 100%;
    height: 391px;
    position: relative;
    border-radius: 12px;
    z-index: 1;


    &__title {
      font-family: $font-manrope;
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 72px;
      max-width: 716px;
      margin: auto;
      padding-top: 70px;
      letter-spacing: 0;
      display: flex;
      align-items: center;
      text-align: center;
      color: $color-light;
    }

    &__form {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 45px 0 0;
      column-gap: 24px;

      input {
        width: 370px;
        height: 56px;
        border: 2px solid $color-light;
        border-radius: 240px;
        font-family: $font-open;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: $color-black;
      }

      input::-webkit-input-placeholder {
        padding-left: 32px;
      }

      input::-moz-placeholder {
        padding-left: 32px;
      }

      input:-moz-placeholder {
        padding-left: 32px;
      }

      input:-ms-input-placeholder {
        padding-left: 32px;
      }

      button {
        width: 210px;
        height: 62px;
        background: $color-green;
        border: 2px solid #65E4A3;
        border-radius: 56px;
        font-family: $font-open;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
      }
    }

    img {
      z-index: -1;
      position: absolute;
      border-radius: 12px;
      top: 0;
      right: 0;
    }
  }
}

@media (max-width: 1200px) {
  .main {
    &-thoughts {
      &__card {
        column-gap: 55px;

        &-text {
          padding-top: 5px;

          p {
            font-size: 42px;
            line-height: 60px;
          }
        }
      }
    }

    &-thoughts::after {
      top: 770px;
      width: 80.5%;

    }

    &-latest {
      margin: 130px auto 90px auto;
      width: 100%;

      &__card {
        &-text {
          height: 42%;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .main {
    padding: 50px 50px 0;

    &-thoughts {
      &__card {
        &-text p {
          font-size: 38px;
          line-height: 50px;
        }
      }
    }

    &-thoughts::after {
      top: 710px;
    }

    &-latest {
      margin: 110px auto 120px auto;

      &__button {
        button {
          font-size: 16px;
        }
      }

      &__cards {
        display: grid;
        column-gap: 50px;
        row-gap: 97px;
        grid-template-areas:
        "p1 p2"
        "p3 p4"
        "p5 p6";
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-template {
      &__title {
        font-size: 38px;
        line-height: 60px;
      }

      &__form {
        input {
          height: 50px;
          font-size: 16px;
        }

        button {
          height: 55px;
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 910px) {
  .main {
    &-thoughts {
      &__title {
        font-size: 54px;
      }
    }
  }
}

@media (max-width: 768px) {
  .main {
    padding: 15px 50px 0;

    &-latest {
      margin: 110px auto 70px auto;

      &__card {
        &-text {
          height: 50%;

          p {
            font-size: 16px;
          }
        }
      }
    }

    &-thoughts {
      &__title {
        font-size: 48px;
      }

      &__card {
        height: 80%;

        &-text p {
          font-size: 30px;
          line-height: 35px;
        }
      }
    }

    &-thoughts::after {
      top: 590px;
      width: 71%;
    }

    &-template {
      height: 330px;

      &__title {
        font-size: 32px;
        line-height: 50px;
      }

      &__form {
        input {
          width: 320px;
          height: 40px;
          font-size: 14px;
        }

        button {
          width: 190px;
          height: 45px;
          font-size: 14px;
        }
      }

      img {
        display: none;
      }
    }
  }
}


@media (max-width: 540px) {
  .main {
    &-thoughts {
      &__title {
        font-size: 32px;
      }
    }

    &-latest {
      &__cards {
        display: grid;
        column-gap: 50px;
        row-gap: 97px;
        grid-template-areas:
        "p1"
        "p2"
        "p3"
        "p4"
        "p5"
         "p6";
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}